.workBench{
  .at-grid__flex{
    margin-top: 20px;
    .content-inner__text {
      display: block;
      margin-top: 12px;
      font-size: 24px;
      color: #666;
    }
  }
  .slide-image{
    width: 100%;
    height: 100%;
  }
  
}
